.application {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.btn {
  font-size: 16px;
}

.helloEmoji:before {
  content: "";
  background: url('./assets/hi_emoji2.png') no-repeat center center;
  background-size: contain;
  height: 50px;
  width: 50px;
  position: absolute;
  margin-left: -50px;
  margin-top: -10px;
}

.helloEmoji {
  margin-left: 50px;
}

.headline {
  letter-spacing: 2px !important;
  font-weight: 500;
  color: #cb7b2c;
}

.headline-underline {
  border-bottom: #cb7b2c solid 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.name-title {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
}

img, iframe {
  margin-top: 6px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: inherit !important;
}

p a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

.btn.btn-social {
  max-width: 30px;
}

.btn-social-footer {
  svg path {
    fill: #616161 !important;
  }
}

.btn.btn-social .btn__content {
  padding: 0;
}

.application.theme--light {
  //  background: #fffcf2;
  transition: all 1s;
}

.toolbar-contained {
  .toolbar__content {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.card .card__media.zoom .card__media__background {
  will-change: transform;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__media.zoom .card__media__background {
  transform: scale(1.05);
  will-change: transform;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .card__media.blur .card__media__background {
  will-change: transform, filter;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__media.blur .card__media__background {
  filter: blur(5px) brightness(60%);
  will-change: filter;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card.highlight {
  color: rgba(0, 0, 0, .87) !important;
  .card__media .card__media__background {
    will-change: filter, color;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.card.highlight:hover {
  color: rgba(50, 50, 50, .87) !important;
  .card__media .card__media__background {
    filter: brightness(120%);
    will-change: filter, color;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.btn--active .btn__content::before, .btn:focus .btn__content::before, .btn:hover .btn__content::before {
  background-color: transparent;
}

a .btn__content span, .btn-social .btn__content span {
  &:before {
    content: "";
    background: url('./assets/mark.png') no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: -40px;
    margin-top: 0;
    opacity: 0;
    transition: all .2s;
  }
  position: relative;
  transition: border-bottom-color .3s;
  border-bottom: transparent 2px solid;
}

a:hover, .btn-social:hover {
  background: transparent;
  .btn__content {
    background: transparent;
    span {
      transition: .3s border-bottom-color;
      border-bottom: #d89b56 2px solid;
    }
  }
}

.reverse-row {
  flex-direction: row-reverse !important;
}

.selected-menu-item {
  span {
    &:before {
      content: "";
      background: url('./assets/mark.png') no-repeat center center;
      background-size: contain;
      height: 30px;
      width: 30px;
      position: absolute;
      margin-left: -30px!important;
      margin-top: 0;
      opacity: 1!important;
      transition: all .2s;
    }
    position: relative;
    //padding-bottom: 5px;
    transition: border-bottom-color .3s;
    border-bottom: #cb7b2c 2px solid !important;
  }
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.limited-height {
  text-align: center;
  img {
    max-height: 500px;
  }
}

.container {
  max-width: 1000px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-overlay {
  background-color: rgba(0, 0, 0, .6);
}

.fixed-height-spacer {
  height: 10px;
}

.overlay {
  z-index: 19;
}

.jumbotron__image {
  margin-top: 0;
  max-height: 105%;
}

/**
  Fade Animation
 */
.fade-quick-enter-active, .fade-quick-leave-active {
  transition: opacity .5s;
}

.fade-quick-enter, .fade-quick-leave-to {
  opacity: 0;
  height: 0%;
}

.clear-border-radius {
  border-radius: 0 !important;
  .btn__content::before {
    border-radius: 0 !important;
  }
  .btn__content {
    border-radius: 0 !important;
  }
}

.toolbar-menu {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
  border-radius: 0;
  .list {
    padding-bottom: 0;
    .list__tile.list__tile--link {
      height: 30px;
      &:hover {
        background-color: transparent;

      }
      .list__tile__title {
        height: 24px;
        line-height: 24px;

        transition: border-bottom-color .3s;
        border-bottom: transparent 2px solid;
        //-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
        //-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
        //box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
        &:hover {

          transition: .3s border-bottom-color;
          border-bottom: black 2px solid;
          //-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
          //-moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
          //box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
        }
      }
    }

  }
}

.list__group::after, .list__group::before {
  height: 0px;
}

.toolbar__items .btn, .toolbar__items .menu, .toolbar__items .menu__activator {
  margin-top: 1px;
}

//.toolbar__items {
//  .btn__content {
//    padding: 0 8px;
//  }
//}

.project-links {
  color: #616161;
  .list__tile--active {
    color: #000000 !important;
  }
  &:hover {
    color: #000000;
  }
}

.btn-justify-left {
  .btn__content {
    justify-content: left;
  }
}

.default-cursor {
  cursor: default;
}
